<!DOCTYPE HTML>

{% extends "main.html" %}

{% block head %}
{{ super() }}




{% endblock %}

{% block content %}


			<section id="recommend_test" style="display: hidden;" class="wrapper align-center">
				<div class="inner">

						<h2>Входное тестирование</h2>

						  <div class="quiz-container">
							  <div id="quiz"></div>
							</div>


						<button id="previous">Назад</button>
						<button id="next">Далее</button>
						<button id="submit">Отправить</button>
						<div id="results"></div>
				</div>
			</section>

<script>
show = '{{show}}';

if(show === 0){
      document.getElementById("recommend_test").style.display = "block";
    }

if(show === 1){
      document.getElementById("recommend_courses").style.display = "block";
    }


</script>

<script>(function(){
  // Functions
  function buildQuiz(){
    // variable to store the HTML output
    const output = [];


    // for each question...
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        // variable to store the list of possible answers
        const answers = [];

        // and for each available answer...
        for(letter in currentQuestion.answers){

          // ...add an HTML radio button
          answers.push(
            `<div><input type="radio" name="question${questionNumber}" id="${currentQuestion.answers[letter]}" value="${letter}">
           <label for="${currentQuestion.answers[letter]}">${letter} :${currentQuestion.answers[letter]}</label></div>`
          );
        }

        // add this question and its answers to the output
        output.push(
          `<div class="slide">
            <div class="question"> ${currentQuestion.question} </div>
            <div class="answers"> ${answers.join("")} </div>
          </div>`
        );
      }
    );

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll('.answers');

    // keep track of user's answers
    let numCorrect = 0;
    const wrong_questions = [];

    // for each question...
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if(userAnswer === currentQuestion.correctAnswer){
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      // if answer is wrong or blank
      else{
      	wrong_questions.push(currentQuestion.question);

        // color the answers red
        answerContainers[questionNumber].style.color = 'red';
      }

    });
	<!--post("", {"wrong_questions": wrong_questions});-->


	postData('', {"wrong_questions": wrong_questions})
  .then(data => {
    data.text().then(function (text) {
 document.getElementById('recommend_test').innerHTML = text;
});
  });

  	document.getElementById("recommend_courses").style.display = "block";
	document.getElementById("recommend_test").style.display = "display: hidden;";

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} из ${myQuestions.length}`;
  }

  function showSlide(n) {
    slides[currentSlide].classList.remove('active-slide');
    slides[n].classList.add('active-slide');
    currentSlide = n;
    if(currentSlide === 0){
      previousButton.style.display = 'none';
    }
    else{
      previousButton.style.display = 'inline-block';
    }
    if(currentSlide === slides.length-1){
      nextButton.style.display = 'none';
      submitButton.style.display = 'inline-block';
    }
    else{
      nextButton.style.display = 'inline-block';
      submitButton.style.display = 'none';
    }
  }

  function showNextSlide() {
    showSlide(currentSlide + 1);
  }

  function showPreviousSlide() {
    showSlide(currentSlide - 1);
  }

  // Variables
  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  const myQuestions = {{ quiz_questions|safe }};

  // Kick things off
  buildQuiz();

  // Pagination
  const previousButton = document.getElementById("previous");
  const nextButton = document.getElementById("next");
  const slides = document.querySelectorAll(".slide");
  let currentSlide = 0;

  // Show the first slide
  showSlide(currentSlide);

  // Event listeners
  submitButton.addEventListener('click', showResults);
  previousButton.addEventListener("click", showPreviousSlide);
  nextButton.addEventListener("click", showNextSlide);
})();


window.post = function(url, data) {

  return fetch(url, {method: "POST", body: JSON.stringify(data)});
}

// Example POST method implementation:
async function postData(url = '', data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response; // parses JSON response into native JavaScript objects
}



</script>



{% endblock %}




